@font-face {
  font-family: 'STARWARS';
  src: url('polices/STARWARS.eot?') format('eot'),
    url('polices/STARWARS.woff') format('woff'),
    url('polices/STARWARS.ttf') format('truetype'),
    url('polices/STARWARS.svg#STARWARS') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'STARWARS';
  background: url('images/black_font.jpg') no-repeat;
  background-size: 120%;
  background-position: top center;
  z-index: -1;
  margin: 0;
}

#bloc_page {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  text-align: justify;
}

#header {
  /* border: 3px solid rgba(236, 6, 6, 0.5);   */
  display: flex;
  flex-direction: row;
  margin: 10 0 0 0px;
  justify-content: center;
  align-self: center;
  width: 100%
  
}

#titre {
  /* border: 3px solid rgba(236, 6, 6, 0.5);   */
  display: flex;
  font-size: 5em;
  text-align: center;
  align-items: center;
  color: #FFDE06;
}

#logo {
  /* border: 3px solid rgba(236, 6, 6, 0.5);   */
  display: flex;
  position: absolute;
  right: 10px;
}

#logo img {
  /* background: black; */
  width: 270px;
  height: 180px;
}


#play {
  background: transparent;
  border: transparent;
  color: white;
}

#pause{
  background: transparent;
  border: transparent;
  color: white;
  display: flex;
  font-size: 1em;
  text-align: center;
  align-items: center;
  color: #FFDE06;
  font-family: 'STARWARS';
}

/*-------- Content -------- */

#main {
  margin: 20 0 0 0px;
  display: flex;
  justify-content: space-evenly;
  max-height: 750px;
}

#left {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 500px;
  max-width: 500px;
  height: 100%;
}

#center {
  display: flex;
  color: white;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-width: 650px;
  max-width: 650px;
  height: 100%;

}

#right {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  width: 100%;
  height: 100%;

}
/* --------- Charts --------- */

#barchart {
  display: flex;
  height: 100%;
  width: 100%;
}

#sunburst {
  display: flex;
  width: 100%;
  height: 100%;

}

#france {
  display: flex;
  justify-content: space-around;
}


#bubble {
  display: flex;
  min-width: 350px;
  max-width: 350px;
  min-height: 350px;
  max-height: 350px;
  margin: 10 0 0 0px;
}

#viz {
  background-color: white;
  display: flex;
  justify-content: center;
}

#legend {
  background-color: orange
}


#color_map_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#picto_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#expert {
  border-style: solid;
}

button.heatmap {
  border-radius: 28px;
  width: 80%;
  background: #f2e49e;
}

button.picto {
  border-radius: 28px;
  width: 80%;
  background: #9ef1f2;
}

div.tooltip {
  position: absolute;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 62px;
  padding: 5px 0;
  font: 15px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.axisYellow {
  stroke : #FFDE06;
}